
/* :::::::Base style:::::: */

*,
 *:before, 
 *:after {
    box-sizing: border-box;
  }


:root {
    font-family: 'Lora', serif;
}

.wrapper {
    max-width: 768px;
    margin:auto;
}



/* :::::::OOP style:::::: */
.light {
    color:gray;
    margin-top:8px;
}
.no-margin-b{
    margin-bottom:0; 
}
.it {
    font-style: italic;
}
.t-al-center {
   text-align: center;
}




/* :::::::Header style:::::: */
header, .main-header{  
    text-align: center;    
    margin-bottom: 20px;
}
.main-header {
    position:relative;
    border-bottom: 3px solid black; 
    padding-bottom: 20px; 
}
.main-header:after{
    content:"";
    display:block;
    position:absolute;
    bottom:2px;
    height:5px;
    width:100%;
    background-color: black;
    
}
.title {
    margin:-8px -8px 20px -8px;
    padding: 25px 0;
    color:white;
    background-color: #2d3945;
    font-size: 1.7rem;   
}
.main-header {
    margin:30px 0 50px 0;
}


/* :::::::Main style:::::: */
main{
    padding-bottom: 150px;
}
/* :::::::Form style:::::: */
form{
    margin: 25px 0;
}
fieldset {
    position:relative;
    border:none;
    padding:0 0 25px 0;
    margin:25px 0;
    padding-top:45px;
}
fieldset:first-of-type {
    
    border-bottom: 3px solid black;
    background-color: #60acf3;
    padding: 50px 10px 25px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


fieldset:last-of-type{
    padding-bottom: 0;    
}
legend {
    position:absolute;
    top:10px;
    font-weight: bold;
    font-size: 1.3rem; 
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
 select, 
 textarea,
 button {
    display:block;
   width:100%;
   height: 44px;
   border:none;
   border-radius: 5px;
   background-color: #eff0f1;
   
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
 select, 
 textarea {
    opacity: 60%;
 }

textarea {
    height: 100px;
}
input[type="number"] {
    width:50%;
}
input::-webkit-input-placeholder{
    text-align: right;
    margin-right: 10px;
}
input::-moz-placeholder{
    text-align: right;
    margin-right: 10px;
}
input:-ms-input-placeholder{
    text-align: right;
    margin-right: 10px;
}
input::-ms-input-placeholder{
    text-align: right;
    margin-right: 10px;
}
input::placeholder{
    text-align: right;
    margin-right: 10px;
}
label {
    display:inline-block;
    margin:10px 0 5px 0;
}
label.light{
    margin-top:20px;
}

#submit{
    height:54px;
    background-color: #4ebbb5;
    color:white;
    font-size:1.4rem;
    font-family:inherit;
    cursor: pointer;
}
#submit:active {
    transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
}
/* :::::::Custom Checkbox:::::: */
/* hide the default style of checkbox */
.checkbox-label {
    position:relative;
    padding-left:30px;
    cursor: pointer;
}
.checkbox-label input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
    cursor:pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top:0px;
    left:0px;
    height: 24px;
    width: 24px;
    background-color:#eff0f1;
    border-radius: 5px;
}



.checkbox-label input:checked ~ .checkbox-custom {
     background-color: #46698b;

}
.checkbox-label input:checked ~ .checkbox-custom:after {
    position:absolute;
    content: "";
    left:7px;
    top:3px;
    width:8px;
    height:16px;
    background-color: transparent;
    border:solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(40deg) scale(1.1);
}

/* :::::::Radio input style based on .checkbox-custom class:::::: */
.checkbox-label .radio {
    border-radius: 50%;
}
.checkbox-label input:checked ~.radio:after {
    width:20px;
    height: 20px;
    top:2px;
    left:2px;
    border-width: 3px;
    border-radius: 50%;
    transform: rotate(0deg) scale(1);
}




/* :::::::Focus style:::::: */
:focus{
    outline:2px solid #46698b;
    opacity: 100%;
}
:focus:not(:focus-visible) {
    outline:none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
 select:focus, 
 textarea:focus {
    outline:none;
    border: 2px solid #46698b;
    opacity: 100%;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}



/* :::::::Media queris style:::::: */


@media  screen and (min-width:768px) {
  
fieldset:first-of-type{
    display:flex;
    flex-wrap:wrap;
}
fieldset:first-of-type label {
    flex:1 30%;
}

    fieldset:first-of-type input[type="text"],
    fieldset:first-of-type  input[type="email"],
    fieldset:first-of-type input[type="number"],
    fieldset:first-of-type input[type="tel"],
    fieldset:first-of-type  select {      
       flex:1 70%;
       margin-top:10px;
   }
   fieldset:first-of-type input[type="number"] {
      flex-basis:25%;   
      margin-right:45%;
   }

  
}

